﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="seriesApp">
<head>
    <title>Web Constellation Series</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="icon" href="images/favicon.png" type="image/x-icon" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' type='text/css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/animate/animate.css" />
    <link rel="stylesheet" href="assets/gallery/blueimp-gallery.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/slidingheader/layout-simple.css" />
    <link rel="stylesheet" href="assets/style.css" />
</head>
<body id="home" ng-controller="seriesController">
    <!--Page d'accueil-->
    <div id="container">
        <header class="intro">
            <div class="intro__content">
                <h1>Web Constellation Series</h1>
                <button class="trigger">
                    <svg width="100%" height="100%" viewBox="0 0 60 60" preserveAspectRatio="none">
                        <g class="icon icon--grid">
                            <rect x="32.5" y="5.5" width="22" height="22" />
                            <rect x="4.5" y="5.5" width="22" height="22" />
                            <rect x="32.5" y="33.5" width="22" height="22" />
                            <rect x="4.5" y="33.5" width="22" height="22" />
                        </g>
                        <g class="icon icon--cross">
                            <line x1="4.5" y1="55.5" x2="54.953" y2="5.046" />
                            <line x1="54.953" y1="55.5" x2="4.5" y2="5.047" />
                        </g>
                    </svg>
                    <span>View content</span>
                </button>
            </div>
        </header>
    <!--Détails d'une série-->

        <div id="detailsDiv">
            <div id="poster-crop">
                <img ng-src="{{details.PosterPath == null && '/images/default_background.png' || 'http://image.tmdb.org/t/p/w300/' + details.PosterPath + ''}}" />
            </div>
            <div id="details-text">
                <h3>{{details.Name}}</h3><span ng-class ="{false:'redLight',true:'greenLight'}[details.InProduction]"></span>
                <div class="stars">
                    <div class="stars-rating" ng-style="{width: details.VoteAverage*16 + 'px'}">
                    </div>
                </div>
                <p>
                    <h4>Genres :</h4>
                    <span ng-repeat="genre in details.Genres">{{genre.Name}} </span>
                </p>
                <p>
                    <h4>Created By :</h4>
                    <span ng-repeat="author in details.CreatedBy">{{author.Name}} </span>
                </p>
                <p>
                    <h4>Languages :</h4>
                    <span ng-repeat="langue in details.Languages">{{langue}} </span>
                </p>
                <p>
                    <h4>Summary :</h4>
                    <div>{{details.Overview}}</div>
                </p>
                <p>
                    <h4>Number of seasons and episodes :</h4>
                    <div>{{details.NumberOfSeasons}} seasons, totalling {{details.NumberOfEpisodes}} episodes of an average length of {{details.EpisodeRunTime[0]}} minutes.</div>
                </p>
                <p>
                    <h4>Home Page :</h4>
                    <div><a href="{{details.Homepage}}">{{details.Homepage}}</a></div>
                </p>
            </div>
        </div>
        <!--Bloc de recherche-->
        <div class="toolBar-left">
            <button class="btn-custom" ng-click="showSubs()">Subscriptions</button>
            <button class="btn-custom" ng-click="showTopSeries()">Top Series</button> 
        </div>
        <div class="toolBar-right">
            <input type="text" id="searchInputField" ng-change="search(text,lang)" name="searchInputField" ng-model="text" placeholder="Enter your search here">
        </div>
        <!--Résultat de recherche-->
        <section class="items-wrap">
            <div class="container">
                <div class="spacer">
                    <div id="searchDiv"class="row">
                        <div id={{result.Id}} class="results" ng-repeat="result in searchResults">
                            <div class="col-sm-3 fadeInUp wowload">
                                <div class="gallery-items">
                                    <img class="img-responsive" ng-src="{{result.PosterPath == null && '/images/default_background.png' || 'http://image.tmdb.org/t/p/w300/' + result.PosterPath + ''}}" />
                                    <div class="caption">
                                        <h3> {{result.Name}} </h3>
                                        <a class="followButton" ng-click="follow(result.Id, result.Name)" ng-class="{false:'unfollowed',true:'followed'}[isInSubs(result.Id)]"></a>
                                        <a class="detailsButton" ng-click="getDetails(result.Id)"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--Footer-->
    <div class="about">
        <div class="overlay spacer text-center">
            <div class="container">
                <h2>Hellow! We are <b>Constellation Series</b></h2>
                <p>Creative digital team for sleek solutions for Constellation.</p>
                <div class="wowload fadeInUp social"><a href="#"><i class="fa fa-facebook fa-2x"></i></a> <a href="#"><i class="fa fa-instagram fa-2x"></i></a> <a href="#"><i class="fa fa-twitter fa-2x"></i></a> <a href="#"><i class="fa fa-flickr fa-2x"></i></a> </div>

            </div>
        </div>
    </div>
    <div class="text-center copyright">Powered by <a href="http://developer.myconstellation.io">Constellation Series</a></div>

    <!--Scripts-->
    
    <script type="text/javascript" src="Scripts/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script type="text/javascript" src="Scripts/Constellation.js"></script>
    <script type="text/javascript" src="Scripts/angular.min.js"></script>
    <script type="text/javascript" src="Scripts/ngConstellation.js"></script>
    <script type="text/javascript" src="assets/wow/wow.min.js"></script>
    <script type="text/javascript" src="assets/slidingheader/classie.js"></script>
    <script type="text/javascript" src="assets/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/mobile/touchSwipe.min.js"></script>
    <script type="text/javascript" src="assets/respond/respond.js"></script>
    <script type="text/javascript" src="assets/gallery/jquery.blueimp-gallery.min.js"></script>
    <script type="text/javascript" src="assets/script.js"></script>
    <!--Angular Constellation Stuff-->
    <script>
    var terminal = {};

    var controlApp = angular.module('seriesApp', ['ngConstellation'])
        .controller('seriesController', ['$scope', 'constellation', function ($scope, constellation) {

            $scope.packages = [];
            $scope.messages = [];
            $scope.sentinels = {};
            $scope.objectsState = {};
            $scope.Math = window.Math;
            $scope.subs = [];
            $scope.topSeries = [];

            constellation.intializeClient("http://localhost:8088", "789", "Web Constellation Series");
            constellation.onConnectionStateChanged(function (change) {
                if (change.newState === $.signalR.connectionState.connected) {
                    console.log("Connected.");
                    
                }
            });
            constellation.connect();

            var hasTopSeries = false;
            var handlers = {};

            var sendMessageWithSaga = function (scope, messageKey, data, callback) {
                scope.SagaId = new Date().getTime();
                handlers[scope.SagaId] = callback;
                constellation.sendMessage(scope, messageKey, data);
            };

            //Réception des messages de constellation
            constellation.onReceiveMessage(function (message) {
                $scope.$apply(function () {
                    //Afin de différencier les messages : vérifier si le nom donné dans le SendResponse de l'objet existe dans le Data
                    if (message.Key == "__Response" && message.Data.Result) {
                        $scope.searchResults = message.Data.Result.Results;
                    }
                    if (message.Key == "__Response" && message.Data.SerieDetail) {
                        $scope.details = message.Data.SerieDetail;
                    }
                    if (message.Key == "__Response" && message.Data.TopSerie) {
                        $scope.topSeries.push(message.Data.TopSerie);
                    }
                });
            });

            //Fonction pour afficher les Séries suivies
            constellation.onUpdateStateObject(function (message) {
                $scope.$apply(function(){
                    if (!message.Metadatas.isEpisode) {
                        $scope.subs.push(message.Value);
                        $scope.searchResults = $scope.subs;
                    }
                });
            });

            //On s'abonnes au SO des séries suivies, lorsque l'on va suivre une nouvelle, nous serons automatiquement notifié
            constellation.onConnectionStateChanged(function (change) {
                if (change.newState === $.signalR.connectionState.connected) {
                    //On en profite pour demander la première fois la liste des top séries
                    if (!hasTopSeries) {
                        sendMessageWithSaga({ Scope: 'Package', Args: ['ConstellationSeries'] }, "getTopSeries");
                        hasTopSeries == true;
                    }
                    constellation.requestStateObjects("*", "ConstellationSeries", "*", "*");
                    constellation.subscribeStateObjects("*", "ConstellationSeries", "*", "*");
                }
            });

            var unfollowSerie = function (name) {
                constellation.onUpdateSentinelsList(function (sentinelList) {
                    console.log(sentinelList.List);
                    var listOfSentinel = sentinelList.List;
                    for (var i = 0; i < listOfSentinel.length; i++) {
                        console.log(listOfSentinel[i].Description.SentinelName);
                        var param = listOfSentinel[i].Description.SentinelName;
                        constellation.stop(param, "ConstellationSeries");
                        setTimeout(function () {
                            constellation.stop(param, "MyBrainSeries");
                        }, 1000);
                        setTimeout(function () {
                            constellation.purgeStateObjects(param, "ConstellationSeries", name, "*");
                            constellation.purgeStateObjects(param, "ConstellationSeries", name + "Episode", "*");
                            constellation.start(param, "ConstellationSeries");
                        }, 2000);
                        setTimeout(function () {
                            constellation.purgeStateObjects(param, "MyBrainSeries", name + "EpisodeMyBrainEpisode", "*");
                            constellation.start(param, "MyBrainSeries");
                        }, 3000);
                    }
                });
                constellation.requestSentinelsList();
            }

            //Fonctions associées à l'html
            $scope.search = function (text, lang) {
                if (lang != null) {
                    text += "&language=" + lang;
                    console.log(text);
                }
                if (text.length >= 3) {
                    sendMessageWithSaga({ Scope: 'Package', Args: ['ConstellationSeries'] }, "searchSeries", text);
                }
            };

            $scope.getDetails = function (id) {
                sendMessageWithSaga({ Scope: 'Package', Args: ['ConstellationSeries'] }, "getSerieDetails", id);
                $("#detailsDiv").show();
            }

            $scope.isInSubs = function (id) {
                var isInSub = false;
                $scope.subs.forEach(function (serie) {
                    if (serie.Id == id) {
                        isInSub = true;
                    }
                });
                return isInSub;
            }

            $scope.follow = function (id, name) {
                if ($scope.isInSubs(id)) {
                    unfollowSerie(name);
                } else {
                    constellation.sendMessage({ Scope: 'Package', Args: ['ConstellationSeries'] }, "pushSerieToFollow", id);
                }
            }

            $scope.showSubs = function () {
                $scope.searchResults = $scope.subs;
            }

            $scope.showTopSeries = function () {
                $scope.searchResults = $scope.topSeries;
            }

        }]);
    </script>
    <!--DOM style related stuff-->
    <script>
        $(document).ready(function () {
            $(document).mouseup(function (e) {
                var container = $("#detailsDiv");

                if (!container.is(e.target) // if the target of the click isn't the container...
                    && container.has(e.target).length === 0) // ... nor a descendant of the container
                {
                    container.hide();
                }
            });
        });
    </script>
</body>
</html>