body {	color:#666;	font:300 15px/15px Roboto,Arial,Helvetica;background-color:#fff;-webkit-font-smoothing:antialiased;background-color: #eee;}

a{color:#fff; text-decoration:none;}
a:hover{color:#921947;}

.btn,a,.btn:hover,a:hover{
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
outline: none !important;
}

.btn-custom{
    padding:10px 16px;
    font-size:18px;
    line-height:1.33;
    outline: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color:#fff;
    border:0;
    background:#521129;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
     -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.btn-custom:hover{
    color:#eee;
    background:#320000;
}

h1,h2,h3,h4{margin: 0;line-height: 1em;}
h1{font:300 4em Roboto,Arial,Helvetica;padding:5em 0;color: #fff;}
h2{font:300 2.5em Roboto,Arial,Helvetica;margin-bottom:0.5em; }
h3{font:300 2em Roboto,Arial,Helvetica;margin-bottom: 1em;}


p{font-size:1em;line-height: 1.7em; margin-bottom: 1.7em;}

input:focus, button:focus, img:focus, a:focus{
    outline:0;
}
input[type=text]{
    border: 1px solid #fff;
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}
input[type=text]:hover,input[type=text]:focus, input[type=text]:active {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    color:#521029;
    border:1px solid #fff;
}

.toolBar-left{
    position:absolute;
    top:123px;
    left:2%;
    z-index:5;
}
.toolBar-right{
    position:absolute;
    top:123px;
    right:2%;
    z-index:5;
}
.subsBlock{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.searchBlock{
    display: inline;
    margin-left: auto;
    margin-right: auto;
}
#searchButton{
    border:0;
    background:transparent;
}
#searchImage:hover{
    content:url("../images/searchHover.png");
}
.followButton{
    display:block;
    height:64px;
    width:64px;
    margin-left:auto;
    margin-right:auto;
}
.followed{
    background-image:url(../images/filledStar.png);
}
.unfollowed{
    background-image:url(../images/emptyStar.png);
}
.followed:hover{
    background-image:url(../images/emptyStar.png);
}
.unfollowed:hover{
    background-image:url(../images/filledStar.png);
}
.followed:after{
    content:"Unfollow";
    padding: 2px;
    display:none;
    position: relative;
    color:#fff;
    top: 40px;
    right: -50px;
    width: 70px;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.caption a {
    text-decoration:none;
}
.unfollowed:after{
    content:"Follow";
     padding: 2px;
    display:none;
    position: relative;
    color:#fff;
    top: 40px;
    right: -50px;
    width: 70px;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.detailsButton:after{
    content:"Details";
    padding: 2px;
    display:none;
    position: relative;
    color:#fff;
    top: 40px;
    right: -50px;
    width: 70px;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.followed:hover:after{
    display: block;
}
.unfollowed:hover:after{
    display: block;
}
.detailsButton:hover:after{
    display: block;
}
.detailsButton{
    background-image:url(../images/details.png);
    margin-top:15px;
    display:block;
    height:64px;
    width:64px;
    margin-left:auto;
    margin-right:auto;
}
.detailsButton:hover{
    background-image:url(../images/detailsHover.png);
}
.btn-default{border:none;border-radius: 0;background: #871E46 !important;color:#fff !important;font-size: 0.85em;padding:0.5em 1em;}
.btn-default:hover{background: #440f23 !important;padding:0.5em 2em; }
.btn-lg, .btn-lg:hover{
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}
.container{width: 100%;max-width: 1600px;}

.spacer{padding: 4em 0;}

#topSeriesCarousel{
    position:absolute;
    top:50%;
    width:97%;
}

/*gallery*/
.items-wrap .gallery-items{max-height:441px;position:relative;margin-bottom: 2em;display: block;overflow: hidden;}
.items-wrap .gallery-items:hover img{-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.items-wrap .gallery-items .caption{position: absolute;top: 0;right: 0;left: 0; bottom: 0;background: rgba(0,0,0,0.8);text-align: center;opacity:0;color: #fff;}
.items-wrap .gallery-items .caption h3{margin-top:-27%;margin-bottom: 1em;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.items-wrap .gallery-items .caption:hover h3{margin-top: 27%;}
.items-wrap .gallery-items:hover .caption{max-width: 300px; opacity:1;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
/*gallery*/
.redLight{
    width:30px;
    height:30px;
    background:#921947;
    display:inline-block;
    margin-left:1em;
    border-radius:500px;
    position:absolute;
    top:3%;
    left:50%;
}
.greenLight{
    width:30px;
    height:30px;
    background:#3a9d26;
    display:inline-block;
    margin-left:1em;
    border-radius:500px;
    position:absolute;
    top:3%;
    left:50%;
}
#detailsDiv{
    color: #471325;
    position:fixed;
    top: 178px;
    background:#eee;
    text-align:left;
    width: 600px;
    height:auto;
    z-index:3;
     left:0;
    right:0;
    min-width:700px;
    min-height:500px;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    display:none;
    overflow:hidden;
}
#detailsDiv a{
    color:#471325;
}
#details-text{  
    text-align:left;
    width:70%;
    padding:1em;
}
#poster-crop{
    position:absolute;
    top:0;
    right:-60%;
    width: 100%;
    height: 400;
    -webkit-border-bottom-right-radius: 1000px;
    -webkit-border-bottom-left-radius: 1000px;
    -moz-border-radius-bottomright: 1000px;
    -moz-border-radius-bottomleft: 1000px;
    border-bottom-right-radius: 1000px;
    border-bottom-left-radius: 1000px;
    overflow:hidden;
}
#poster{
    position:absolute;
    top :0;
    right:0;
    width:600px;
    height:150px;
    overflow : hidden;
}
#detailsDiv:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}



/*about*/
.about{background: url(../images/banner.jpg);}
.about .overlay{background:rgba(28, 30, 27, 0.9);color: #fff;}
.social a{color: #fff;margin: 0 0.5em;}

/*about*/


.copyright{background-color: #111;padding: 1em; color: #fff;}


@media (max-width: 1400px) {		
	h1{padding: 4em 0;}
}

@media (max-width: 1200px) {
	h3{font-size: 1.5em;margin-bottom: 0.5em; display:inline-block;}
}	

@media (max-width: 900px) {
	.items-wrap .gallery-items .caption:hover h3{margin-top: 20%;}
}	

@media (max-width: 767px) {
	h1{padding: 4em 0 0 0;font-size: 2em;}
	.spacer{padding: 2em 0;}

}

/* Rating System */

.stars { margin-bottom:2em;display:block; width:160px; height:32px; background:url('../images/emptyStars.png') no-repeat; }
.stars-rating { display:block; height:32px; background:url('../images/filledStars.png') no-repeat; }
